body {
    text-align: center;
}

h1 {
}

p {
}

.hstack {
    align-items: center;
    display: inline-block;
}

.hstack_item {
    padding: 4;
}

.options {
    align-items: left;
    justify-content: left;
    justify-items: left;
    justify-self: left;
}

.vstack {
    align-items: left;
    display: inline-flex;
    flex-direction: column;
}

.option-title {
    margin-bottom: 5;
}

.button {
    margin-top: 5;
}