body {
    text-align: center;
}

.hstack {
    align-items: center;
    display: inline-block;
}

.hstack_item {
    padding: 4px;
}

.vstack {
    display: inline-flex;
    flex-direction: column;
}

.option-title {
    margin-bottom: 5px;
}

.button {
    margin-top: 5px;
}

.outcome {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.emphasize {
    font-size: 30px;
}